<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" stopOnFailure="false" bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite>
            <directory>src/Faker/Tests/*</directory>
            <exclude>
                <directory>src/Faker/Tests/base</directory>
            </exclude>
        </testsuite>
  </testsuites>  
    
</phpunit>
