<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" 
         stopOnFailure="false" 
         bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         >
<php>
    <env name="DB_DSN" value="mysql:dbname=c9;host=172.17.130.172" />
    <env name="DB_USER" value="icomefromthenet" />
    <env name="DB_PASSWD" value="" />
    <env name="DB_HOST" value="172.17.130.172" />
    <env name="DB_DBNAME" value="c9" />
</php> 
  
    <testsuites>
        <testsuite>
            <directory>src/Faker/Tests/*</directory>
            <exclude>
                <directory>src/Faker/Tests/base</directory>
            </exclude>
        </testsuite>
  </testsuites>  
    
</phpunit>
